<!--* Setup the `index.handlebars` to have the template that Handlebars can render onto.


* Create a button in `index.handlebars` that will submit the user input into the database.-->
<!--<div class="container">
    <h1>Eat Some Burgers</h1>
    <p>Make the Burgers. Eat the Burgers</p>
    <h2>Make your Burger</h2>
    <panel>
        <form class="create-form">
            <div class="form-group">
                <label for= "newburger">Order fresh Burger</label>
                <input type= "text" id="newburger" name="burger">
                <button type= "submit" class="btn btn-success" id="addburger">
                    <span class="fa fa-thumbs-up"></span>
                </button>
            </div>
        </form>
    </panel>
</div>
<div class="row">
    <div class="col-sm-6">
        <div class="panel panel-default">
            <div class="panel-heading" id="leftside"><strong>Order your Burger</strong></div>
            <div class="panel-body">

            </div>        </div>
    </div>
</div>-->



<header>
	<h1>Eat Da Burger!</h1>
</header> 

<div class="wrapper">
	<div id="create-burger">
		<form action="/" method="POST">
			<input id="burger-name" type="text" name="burger_name" placeholder="Create a burger">
			<button id="submit-btn" type="submit">Submit</button>
		</form>
	</div>

	<section id="burgers-container">
		<div id="burgers-available">
			<h2>Burgers Available</h2>
			{{#each burgers}}
				{{#unless this.devoured}}
				  <div class="burger">
				    <form class="devour-burger-form" action="/{{id}}?_method=PUT" method="POST">
				  		<button class="eat-btn">Devour it!</button>
				    </form>
						{{burger_name}} <span>#{{id}}</span>
				  </div>
				{{/unless}}
			{{/each}}
		</div>
		<div id="burgers-devoured">
			<h2>Burger's Eatten</h2>
			{{#each burgers}}
				{{#if this.devoured}}
				  <div class="burger">{{burger_name}} <span>#{{id}}</span></div>
				{{/if}}
			{{/each}}
		</div>
	</section>
</div>